
body {
    background-color:  #fffbf7;
}

h1 {
    color: #025157;
    font-size: 60px;
    font-family: "Alegreya", serif;
}

h4 {
    color: #46484c;
    font-size: 20px;
    font-family: serif;
} 

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
} 

header{
    padding: 0px 20px;
    margin: 0px 0px 40px;
    font-size: 0px;
    position: fixed;
    top: 0;
    background-color: #fffbf7;
    box-shadow: 0px 16px rgba(0, 0, 0, 0.5);
}

li {
    display: inline;
    margin: 0px 25px;
    font-size: 16px;
    font-family: sans-serif;
    color: #025157;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.logo img {
    width: 50%;
}

.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: right;
    font-weight: 600;
    color: #67b54b;
    font-size: 14px;
}

.actions button {
    background-color: #67b54b;
    color: white;
    border-radius: 5px;
    padding: 14px 12px;    
    border-style: none;  
    margin-left: 10px;    
}

.main {
    margin-top: 140px;
    text-align: center;
}

.publish h2{
    color: #025157;
    font-family: alegreya, serif;
    font-size: 40px;
    vertical-align: inherit;
}

.publish p{
    color: #343434;
    font-size: 16px;
    font-family: sans-serif;
}

.publish h3{
    color: #8b8b8bcc;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.publish input{
    padding: 14px 12px;
    border-radius: 5px 5px; 
}

.container{
    display: flex;
    gap: 12px;
}

.publish{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.explanatory-video img{
    height: 80px;
    margin: 15px;
}



    body {
        background-color:  #fffbf7;
    }

    h1 {
        color: #025157;
    }

    h3 {
        color: #46484c;
    } 

    p {
        color: #8b8b8bcc;
    }
    
    button {
        color: #fff;
        padding: 14px 12px;
        background-color: #025157;
        border-radius: 0px 5px 5px 0px;
    }
    
    input {
        padding: 14px 12px;
        border-radius: 5px 0px 0px 5px;
    }


    .features{
        margin-bottom: 200px;
        display: grid;
        height: 100vh;
       /* grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 100px 200px;
        grid-template-columns: repeat(2, 300px);
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        grid-template: repeat(2, 1fr) / repeat(2, 1fr); */  
        grid-template: repeat(2, 1fr) / repeat(2, 50vh);   
     }